body{
    background-color: pink;
}
table{
    border-top: 0cap;
    border-radius: 1px;
    border: 1;
    margin-top: auto;
    
}
.css li{
    color: yellow;
}
.css{
    background-color: green;
    margin-left: auto;

}
.html{
    background-color: red;

}
h5{
    color: white;
}